:root {
 --nav-width: 15vw; 
 --body-width: ;  
    /* CSS HEX */
--midnight-green-eagle-green: #19434dff;
--dark-slate-gray: #31474bff;
--davys-grey: #484a49ff;
--viridian: #3e7a62ff;
--brunswick-green: #25524aff;
--copper-red: #c16b49ff;
--beige: #e2e8ceff;
--bittersweet: #ff715bff;
}

body {
    padding-left: var(--nav-width);
    background: var(--midnight-green-eagle-green);
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

section {
    padding: 40px;
    max-width: calc(100vw - var(--nav-width));
    max-height: 100vh;
    height: 100vh;
}

#landing-page {
    color: var(--beige);
    display: flex;
    justify-content: center;
}

a {
    color: var(--beige);
    text-decoration: none;
}

nav {
    background:black;
    position: fixed;
    width: var(--nav-width);
    height: 100vh;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.nav-items {
    color: var(--beige);
}


#about {
    background: var(--davys-grey);
    color: var(--beige);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    max-width: calc(100vw - var(--nav-width));
    height: 100vh;
}

#projects-section {
    background: var(--brunswick-green);
    color: var(--beige);
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

.project-section-header {
    grid-area: project-section-header;
    height: 30px;
    display: flex;
    justify-content: center;
}

.project-1 {
    height: 200px;
    width: 80%;
}

.project-2 {
    width: 80%;
}

.project-3 {
    width: 80%;
}

.projects {
    background: var(--viridian);
    display: flex;
}

.project-title {
    grid-area: project-title;
    color: var(--beige);
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-images {
    grid-area: project-images;
    background: transparent;
    width: 70%;
    justify-self: center;
}

.screenshot {
    max-height: 150px;
}

.project-links {
    grid-area: project-links;
    background: var(--bittersweet);
    color: var(--beige);
    max-width: 100px;
    justify-self: center;
    align-self: start;
}

.project-code {
    grid-area: project-code;
    background: var(--bittersweet);
    color: var(--beige);
    max-width: 100px;
    justify-self: center;
    align-self: start;
}

#skills {
    background: var(--dark-slate-gray);
    color: var(--beige);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.resume-buttons {
    height: 50px;
    width: 150px;
    background: var(--bittersweet);
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact {
    background: var(--viridian);
    color: var(--beige);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 700px) {
    #projects-section {
        display: flex;
        flex-direction: column;
    }

    .project-section-header {
        margin-bottom: 20px;
    }

    .projects {
        margin: 5px;
    }
}
