:root {
    /* CSS HEX */
--midnight-green-eagle-green: #19434dff;
--dark-slate-gray: #31474bff;
--davys-grey: #484a49ff;
--viridian: #3e7a62ff;
--brunswick-green: #25524aff;
--copper-red: #c16b49ff;
--beige: #e2e8ceff;
--bittersweet: #ff715bff;
}

body {
    background: var(--midnight-green-eagle-green);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    color: var(--beige);
    display: flex;
    justify-content: center;
}
.nav-bar {
    background: var(--viridian);
    width: 50%;
    height: 40px;
    border: 2px solid var(--bittersweet);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-items {
    color: var(--beige);
}

.about {
    width: 60%;
    height: auto;
    background: var(--davys-grey);
    color: var(--beige);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;

}

.projects-section {
    width: 75%;
    height: 80vh;
    background: var(--brunswick-green);
    color: var(--beige);
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr 2fr;
    gap: 1rem;
    grid-template-areas: 
    "project-section-header project-section-header"
    "project-1 project-1"
    "project-2 project-3";
    justify-items: center;
    align-items: start;
}

.project-section-header {
    grid-area: project-section-header;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-1 {
    grid-area: project-1;
    max-width: 600px;
    width: 80%;
    align-self: start;
}

.project-2 {
    grid-area: project-2;
    width: 80%;
    max-width: 300px;
    justify-self: end;
}

.project-3 {
    grid-area: project-3;
    width: 80%;
    max-width: 300px;
    justify-self: start;
}

.projects {
    background: var(--viridian);
    display: grid;
    grid-template-rows: .5fr 6fr 2fr;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    grid-template-areas: 
    "project-title project-title"
    "project-images project-images"
    "project-links project-code";
}

.project-title {
    grid-area: project-title;
    color: var(--beige);
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-images {
    grid-area: project-images;
    background: black;
    width: 70%;
    justify-self: center;
}

.project-links {
    grid-area: project-links;
    background: var(--bittersweet);
    color: var(--beige);
    max-width: 100px;
    justify-self: center;
    align-self: start;
}

.project-code {
    grid-area: project-code;
    background: var(--bittersweet);
    color: var(--beige);
    max-width: 100px;
    justify-self: center;
    align-self: start;
}

.resume {
    width: 75%;
    height: auto;
    background: var(--dark-slate-gray);
    margin: 10px;
    color: var(--beige);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact {
    width: 55%;
    height: auto;
    margin: 10px;
    background: var(--viridian);
    color: var(--beige);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
